@import "../../variables";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
  transition: $transition;
}

.projects:hover {
  transform: $transform;
  box-shadow: $shadow-post-transition;
}

.projects .grouping {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
