@import "../../variables";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
}

.projects .grouping {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
