@import "../../variables";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $components;
  border-radius: $component-border-radius;
  padding: $component-padding;
}

.about h2 {
  margin-bottom: $component-item-spacing;
}

.about p {
  margin-bottom: $component-item-spacing;
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-bottom: $component-item-spacing;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-self: center;
  justify-items: center;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about .links a {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: $primary;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.about .links a:hover {
  background-color: $primary-hover;
  color: black;
  transform: scale(1.05);
}

.about .links a:active {
  transform: scale(0.95);
}
