@import "../../variables";

.education {
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
  transition: $transition;
}

.education:hover {
  transform: $transform;
  box-shadow: $shadow-post-transition;
}
