@import "../../variables";

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $components;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;

  @media (max-width: 500px) {
    flex-direction: column;
    padding: 10px;

    img {
      display: block;
    }

    a {
      display: none;
    }
  }
  box-shadow: $shadow;
  transition: $transition;
}

.navbar:hover {
  transform: $transform;
  box-shadow: $shadow-post-transition;
}

.navbar img {
  @media (min-width: 500px) {
    display: none;
  }
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: $primary;
}

.navbar a:hover {
  background-color: $primary-hover;
  transform: scale(1.05);
  color: black;
}
