@import "../../variables";

html {
  scroll-behavior: smooth;
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $small-screen-transition) {
    height: unset;
  }
}

.nav-container button {
  display: none;

  @media (max-width: $small-screen-transition) {
    display: block;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $components;
  border-radius: 50px 10px 10px 50px;
  padding: 25px;
  gap: 10px;
  box-shadow: $shadow;

  @media (max-width: $small-screen-transition) {
    display: none;
  }

  &.visible {
    display: flex;
  }
}

.navbar a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: $primary;
  width: 100%;
}

.navbar a:hover {
  background-color: $primary-hover;
  transform: scale(1.05);
  color: black;
}
