@import "../../variables";

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
  transition: $transition;
}

.experience:hover {
  transform: $transform;
  box-shadow: $shadow-post-transition;
}

.experience h2 {
  margin-bottom: 10px;
}

.experience li {
  margin-left: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.entry {
  margin-bottom: 10px;
}
