@import "../../variables";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
  transition: $transition;
}

.contact:hover {
  transform: $transform;
  box-shadow: $shadow-post-transition;
}

.contact .links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.contact .links a {
  color: white;
  background-color: $primary;
  padding: 10px;
  border-radius: 25px;
}

.contact .links p {
  color: white;
  background-color: $primary;
  padding: 10px;
  border-radius: 25px;
}
