@import "../../variables";

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content > img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.content > p {
  text-align: center;
}
