$background: #a0a0a0;

$components: #eaeaea;
$component-border-radius: 10px 50px 50px 10px;
$component-padding: 25px;
$component-item-spacing: 10px;

$primary: #147452;

$primary-hover: #14c98e;

$shadow: 10px 10px 10px $primary;
$shadow-post-transition: 15px 15px 15px $primary;
$transform: translateY(-5px);
$transition: all 0.3s ease-in-out;

$small-screen-transition: 450px;
