@import "./variables";

body {
  background-color: $background;
  width: 75%;
  margin: auto;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
