@import "./variables";

body {
  background-color: $background;
  width: 75%;
  margin: auto;
}

.app {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
