@import "../../variables";

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $components;
  padding: $component-padding;
  border-radius: $component-border-radius;
  box-shadow: $shadow;
  transition: $transition;
}

.landing:hover {
  transform: $transform;
  box-shadow: $shadow-post-transition;
}
